{{#partial "header"}}
     <link rel='stylesheet'  href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
                 <link rel='stylesheet' href='/app.css'>
                 <link rel="preconnect" href="https://fonts.googleapis.com">
                 <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
                 <link href="https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap" rel="stylesheet">
     <link rel='stylesheet' href='/form.css'>
{{/partial}}


{{#partial "content"}}
 <div class ="container" id ="starter";>
    <nav>

         <h2><a href ='/heros/list'>Home</a></h2>
         <h2><a href ='/squad/list'>Squads</a></h2>
         <button><a href="heroform.hbs"/><h3>View Animals</h3></a></button>
         <button><a href="sightingform.hbs"/><h3>Report sighting</h3></a></button>

    </nav>
 </div>
 <div>
 <img src ="/images/blue-removebg-preview.png" alt="spiderman">
<form action="/heros/new" method = "POST">

 <div class="form-group">
   <label for="name">Animal name</label>
   <input id="name" name="name" class="form-control" type="text">
 </div>
 <div class="form-group">
   <label for="health">Health</label>
   <select id="health" name="health" class="form-control" type="text">
        <option value="health">Healthy</option>
        <option value="health">Ill</option>
         <option value="health">Okay</option>
   </select>

 </div>
 <div class="form-group">
    <label for="type">Type</label>
    <select id="type" name="type" class="form-control" type="text">
            <option value="type">Endangered</option>
            <option value="type">Animal</option>
    </select>
  </div>
  <div class="form-group">
      <label for="age">Enter Age</label>
      <select id="age" name="age" class="form-control" type="number">
            <option value="age">Newborn</option>
            <option value="age">Young</option>
            <option value="age">Adult</option>
      </select>
   </div>
   <div class="form-group">
       <label for="rangerName">Ranger_Name</label>
      <input id="rangerName" name="rangerName" class="form-control" type="text">
   </div>
       <br></br>

     </div>
 <button type="submit" class="btn">Report</button>
</form>
</div>

{{/partial}}

{{#partial "footer"}}

{{/partial}}
{{> layout.hbs}}

